@import '_layout';
@import '_header';
@import '_menu';
@import '_sub-menu';
@import '_sidebar';

.post-block {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 1px 5px 8px gray;
}